<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" type="text/css" href="/css/profiles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    {{> logout}}     
    <!-- HACK! Displays login info. Used to grab email to pass in URL --> 
    <div class="form-group">
      <a href = '/intervieweeProfile'><button type="submit" class="btn btn-default">Back To My Profile</button>
    </div>
    <div class="jumbotron">
      <p class="lead"> Congraluations!  We have found an interviewee for you.</p>
      <div class = "row profile-header">
        <div class="col-md-4">
          <div class="profile-circle">Photo </div>      
        </div>
        <div class="col-md-8" >
          <div class="row">
            <div class="col-md-8 extraoinfo">
              <h1 style="color:black">{{ match.firstname }} {{ match.lastname }}</h1>
            </div> 
            <p class="lead">{{ match.description1 }} {{ match.description2 }}</p>
          </div> 
          <div class="row">
            <div class="col-md-6 extrainfo">
              <address>
                <br>{{ match.location }}<br>
              </address>
            </div>       
            <div class="col-md-6 extrainfo">
              <address>
                <a href="mailto:#">{{ match.email }}</a>
              </address>
            </div>  
          </div>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 extrainfo"> 
          <a class="btn btn-primary btn-lg match active" href="/startInterview/{{ match.email }}" role="button">Request an interview</a>
        </div>
        <div class="col-md-4 extrainfo"> 
          <a class="btn btn-primary btn-lg match active" href="/matchForInterviewer" role="button">Try another roulette</a>
        </div>
      </div>	
    </div>
  </div>
</body>
</html>