<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">

        <title>Interview Profile</title>
        {{> bootplyBoilerplate}}
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body>

        
    <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
          
            <!-- sidebar -->
            {{> intervieweeProfileSidebar}}
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                {{> logout}}
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                        <div class="row" id="content">
                         
      <div class = "row profile-header">
        <!-- HACK: Use a form to extract temail (username) lookup in the JSON-->
        <form role="form" method="get">
        </form>
        <!-- Edit Button -->
        <div class="row">
          <a href="/editIntervieweeProfile">
          <button type="submit" class="edit-button btn btn-primary">
              <i class="edit-icon glyphicon glyphicon-pencil"></i>
          </button>
          </a>
          </div> <!--/Edit Button -->
          <div class="col-md-4">
          </div>
          <div class="col-md-8 extrainfo">
            <p><h1>{{firstname}} {{lastname}}</h1></p>
            <p><h4><small>interviewee</h4></small><br>
            <div class="row">
              <div class="col-md-4 extrainfo">
              <address>
                <strong>{{education}} </strong><br>
                {{location}} 
              </address>
              </div>
              <div class="col-md-4 extrainfo">
              <address>
                <strong>{{occupation}} </strong><br>
                <a href="mailto:#">{{email}}</a>
              </address>
              </div>
            </div>
            <a class="btn btn-primary btn-lg active" href="/matchForInterviewee" role="button"> Match with a interviewer</a>
          </div>
        </div>
    
                       </div><!--/row-->
                      
                    
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
          $(document).ready(function() {
              /* off-canvas sidebar toggle */

              $('[data-toggle=offcanvas]').click(function() {
                  $(this).toggleClass('visible-xs text-center');
                  $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
                  $('.row-offcanvas').toggleClass('active');
                  $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
                  $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
                  $('#btnShow').toggle();
              });
          });
        
        </script>
        
    </body>
</html>