<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>Interview Profile</title>
  {{> bootplyBoilerplate}}
</head>   
<body>
  <div class="container">
    <div id="container">
      {{> logout}}
      <div class="row">
        <div class="col-md-6">
           <a style="display:inline" href="/editIntervieweeProfile">
            <button type="submit" class="btn btn-primary btn-large edit-button" id="edit-button">
              <i class="edit-icon glyphicon glyphicon-pencil"></i>
            </button>
          </a>
        </div>
        <center>
         <div class="logo">IR</div>
         </center>
        <div class="col-md-8 extrainfo">
          <h1 id="profile-name" style="display:inline">{{firstname}} {{lastname}} </h1>
        </div>
      </div>
      <div class="row" style="margin-top: 30px font-family:Lato">
        <div class="col-md-8 extrainfo">
          <i style="color: #d3d3d3">interviewee</i>
        </div>
      </div>
      <br>
      <div class="row description-text">
        <div class="col-md-4 extrainfo">
            {{location}}<br>
            {{education}}
        </div>
        <div class="col-md-4 extrainfo description-text">
          <address>
            {{occupation}}<br>
            <br>
            <a href="mailto:#" id="email-text" class="description-text">{{email}}</a>
          </address>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 extrainfo">
          <center>
            <a href="/matchForInterviewee">
              <button type = "button" class = "btn btn-primary btn-large" style="border-color: rgb(171, 24, 2); background: rgb(171, 24, 2)">Match with an interviewer</button>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  {{> persistantBarInterviewee}}
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <!-- JavaScript jQuery code from Bootply.com editor -->  
  <script type='text/javascript'> 
  $(document).ready(function() {
    /* off-canvas sidebar toggle */
    $('[data-toggle=offcanvas]').click(function() {
      $(this).toggleClass('visible-xs text-center');
      $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
      $('.row-offcanvas').toggleClass('active');
      $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
      $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
      $('#btnShow').toggle();
    });
    $('#available').click(function(e){
        $('#toggle-availability').submit();
    });

    $('#unavailable').click(function(e){
        $('#toggle-availability').submit();
    });
  });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48588207-1', 'interviewroulette.herokuapp.com');
    ga('send', 'pageview');
    $(document).ready(function(){
      $('.persistent').click(function(e){
        e.preventDefault();
        ga('send', 'event', 'sidebar', 'click');
        window.location.href = $(this).attr('href');
      });
    })
  </script>
</body>
</html>