<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>Interviewer Profile</title>
  {{> bootplyBoilerplate}}
</head>
<body>
  <div class="wrapper"><!--from bootply-->
    <div class="box"><!--from bootply-->
      <div class="row row-offcanvas row-offcanvas-left"><!--from bootply-->
        {{> interviewerProfileSidebar}}
        <div class="column col-sm-10 col-xs-11" id="main"><!--from bootply-->
          <div class="padding">
            {{> logout}}
              <!--<div id="save-notification"></div> -->
              <div id="content">            
                  <h1>Edit Your Info</h1>
                  <form role="form" id = "edit-form" method="get" action="/editInterviewerProfile">
                    <div class="form-group">
                      <div class = "row" >
                        <div class = "col-md-6">
                          <label for="fname">First Name</label>
                          <input type="text" class="form-control" id="fname" value="{{firstname}}" name="fname">
                        </div>
                        <div class = "col-md-6">
                          <label for="lname">Last Name</label>
                          <input type="text" class="form-control" id="lname" value="{{lastname}}" name="lname">
                        </div>
                      </div>
                      <div class = "row">
                        <div class = "col-md-6">
                          <label for="email">Email address</label>
                          <!-- This is a hack! Used to get the username -->
                          <textarea class="form-control" rows="1"name="email">{{email}}</textarea>
                        </div>
                        <div class = "col-md-6">
                          <label for="education">Education</label>
                          <input type="text" class="form-control" id="education" value="{{education}}" name="education">
                        </div>
                      </div>
                      <div class = "row">  
                        <div class = "col-md-6">
                          <label for="occupation">Occupation</label>
                          <input type="text" class="form-control" id="occupation" value="{{occupation}}" name="occupation">
                        </div>
                        <div class = "col-md-6">
                          <label for="occupation">Current Company</label>
                          <input type="text" class="form-control" id="company" value="{{company}}" name="company">
                        </div>
                      </div>
                      <div class = "row">
                        <div class = "col-md-6">
                          <label for="location">Current Location</label>
                          <input type="text" class="form-control" id="location" value="{{location}}" name="location">
                        </div>
                      </div>
                    </div>
                    <br>
                    <button id="submit" type="submit" class="btn btn-large btn-primary">Save</button>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
    $(document).ready(function() {
      /* off-canvas sidebar toggle */
      $('[data-toggle=offcanvas]').click(function() {
        $(this).toggleClass('visible-xs text-center');
        $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
        $('.row-offcanvas').toggleClass('active');
        $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
        $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        $('#btnShow').toggle();
      });
    });
  </script>
</body>
</html>